<div class="absolute inset-x-0 top-[-10rem] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[-20rem]" aria-hidden="true">
  <div class="relative left-1/2 -z-10 aspect-[1155/678] w-[36.125rem] max-w-none -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-40rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
</div>
<div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
  <div class="my-8">
    <% if Rails.env.development? || Rails.env.test? || current_user.admin? %>
      <% if current_account.customer_type == "traveler" %>
        <div class="border-b border-gray-200 pb-5">
          <h3 class="text-base font-semibold leading-6 text-gray-900"><%= t(".title_traveler") %></h3>
        </div>
        <div data-controller="user-map" data-action="google-maps-callback@window->user-map.initializeMap">
          <div class="flex flex-1 items-center justify-center py-2 lg:justify-start">
            <div class="w-full max-w-lg lg:max-w-xs">
              <label for="search" class="sr-only">Search</label>
              <div class="relative">
                <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
                  <svg class="h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z" clip-rule="evenodd" />
                  </svg>
                </div>
                <input data-user-map-target="field" id="search" name="search" class="block w-full rounded-md border-0 bg-white py-1.5 pl-10 pr-3 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" placeholder="Search" type="search">
              </div>
            </div>
          </div>
          <div data-user-map-target="map" class="row-span-1 flex min-h-[40vh] min-w-fit"></div>
          <table class="w-full">
              <tbody>
                <tr class="border-t border-gray-100 group">
                  <td class="p-10">
                    <%= turbo_frame_tag "guides", src: page_list_path , data: { turbo_action: :advance } do %>
                      <div>
                        Loading accounts ...
                      </div>
                    <% end %>
                  </td>
                </tr>
              </tbody>
            </table>
        </div>

        <% if @pagy.pages > 1 %>
          <div class="my-6 text-center">
            <%== pagy_nav(@pagy) %>
          </div>
        <% end %>

      <% else %>
        <h1 class="mt-3 text-3xl font-extrabold tracking-tight text-slate-900"><%= t(".title_guide") %></h1>
        <div class="mb-2"><%= "Account: " + current_account.name %></div>
        <% unless current_account.approved %>
          <div class="mb-2"><%= t(".not_approved") %></div>
        <% end %>
        <div class="my-20">
          <%= render partial: 'dashboard/guide_dashboard' %>
        </div>
      <% end %>

    <% else %>
      <div class="my-20">
        <%= render partial: 'dashboard/not_available' %>
      </div>
    <% end %>
  </div>
</div>