<div id="<%= dom_id schedule %>">
  <div>
    <div class="px-4 sm:px-0">
      <h3 class="text-base font-semibold leading-7 text-gray-900">Schedule Information for: <%= schedule.name %></h3>
      <p class="mt-1 max-w-2xl text-sm leading-6 text-gray-500">Availability and details</p>
    </div>
    <div class="mt-6 border-t border-gray-100">
      <dl class="divide-y divide-gray-100">
        <div class="bg-gray-50 px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-3">
          <dt class="text-sm font-medium leading-6 text-gray-900">Schedule Active?</dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"><%= schedule.active ? "Yes" : "No" %></dd>
        </div>
        <div class="bg-white px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-3">
          <dt class="text-sm font-medium leading-6 text-gray-900">Schedule Dates</dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"><%= schedule.begin_date.try(:strftime, "%B %d, %Y")%> - <%=schedule.end_date.try(:strftime, "%B %d, %Y") %></dd>
        </div>
        <div class="bg-gray-50 px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-3">
          <dt class="text-sm font-medium leading-6 text-gray-900">Sunday Availability</dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"><%= schedule.sun_start.try(:strftime, "%H:%M %p")%> - <%= schedule.sun_end.try(:strftime, "%H:%M %p")%> </dd>
        </div>
        <div class="bg-white px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-3">
          <dt class="text-sm font-medium leading-6 text-gray-900">Monday Availability</dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"><%= schedule.mon_start.try(:strftime, "%H:%M %p")%> - <%= schedule.mon_end.try(:strftime, "%H:%M %p")%> </dd>
        </div>
        <div class="bg-gray-50 px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-3">
          <dt class="text-sm font-medium leading-6 text-gray-900">Tuesday Availability</dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"><%= schedule.tue_start.try(:strftime, "%H:%M %p")%> - <%= schedule.tue_end.try(:strftime, "%H:%M %p")%> </dd>
        </div>
        <div class="bg-white px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-3">
          <dt class="text-sm font-medium leading-6 text-gray-900">Wednesday Availability</dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"><%= schedule.wed_start.try(:strftime, "%H:%M %p")%> - <%= schedule.wed_end.try(:strftime, "%H:%M %p")%> </dd>
        </div>
        <div class="bg-gray-50 px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-3">
          <dt class="text-sm font-medium leading-6 text-gray-900">Thursday Availability</dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"><%= schedule.thu_start.try(:strftime, "%H:%M %p")%> - <%= schedule.thu_end.try(:strftime, "%H:%M %p")%> </dd>
        </div>
        <div class="bg-white px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-3">
          <dt class="text-sm font-medium leading-6 text-gray-900">Friday Availability</dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"><%= schedule.fri_start.try(:strftime, "%H:%M %p")%> - <%= schedule.fri_end.try(:strftime, "%H:%M %p")%> </dd>
        </div>
        <div class="bg-gray-50 px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-3">
          <dt class="text-sm font-medium leading-6 text-gray-900">Saturday Availability</dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"><%= schedule.sat_start.try(:strftime, "%H:%M %p")%> - <%= schedule.sat_end.try(:strftime, "%H:%M %p")%> </dd>
        </div>
      </dl>
    </div>
  </div>
</div>
