<div class="w-full relative justify-center items-center isolate flex bg-gradient-to-r from-marketing-gradient-start via-marketing-gradient-start to-marketing-gradient-end">
  <%= image_tag "Vector.svg", class:"absolute bottom-1/3 left-2/5 hidden lg:block"%>
  <div class="lg:flex px-4">
    <div class="relative lg:mx-0">
      <h1 class="my-10 max-w-lg font-bold tracking-tight text-gray-900">Join the Experience</h1>
      <ol class="list-none text-gray-800 text-sm lg:pe-40">
        <li class="pb-2 flex">
          <%= image_tag "Circle1.svg", class:"inline-block pe-4" %>
          <div class="max-w-sm"><b>Browse</b> profiles of passionate local experts and find the perfect match for your interests</div>
        </li>
        <li class="py-2 flex">
          <%= image_tag "Circle2.svg", class:"inline-block pe-4" %>
          <div class="max-w-sm"><b>Message</b> your local expert and schedule a convenient time and location to meet up</div>
        </li>
        <li class="py-2 flex">
          <%= image_tag "Circle3.svg", class:"inline-block pe-4" %>
          <div class="max-w-sm"><b>Experience</b> the city through the eyes of a local and make memories for life</div>
        </li>
      </ol>
    </div>
    <div class="relative lg:mx-0">
    <%= image_tag "iPhone14.png", class:"max-w-sm" %>
    </div>
  </div>
</div>
