<div id="<%= dom_id(tour, :index) %>">
  <%= turbo_stream_from tour %>
  <%= render tour %>
  <% if current_account.customer_type == "traveler" %>
    <%= link_to "Book A Tour", new_scheduled_tour_path(tour_id: tour.id), class: "btn btn-white" %>
  <% end %>
  <%= link_to "Cancel", :back, class: "btn btn-white" %>
</div>

