<div id="<%= dom_id(tour, :index) %>">
  <%= turbo_stream_from tour %>
  <%= render tour %>
  <% if current_account.customer_type == "traveler" %>
    <%= link_to "Book A Tour", tour, class: "btn btn-white" %>
  <% end %>
  <%= link_to "Cancel", page_list_path, class: "btn btn-white" %>
</div>

