<div id="<%= dom_id(tour, :index) %>">
  <%= turbo_stream_from tour %>
  <%= render tour %>
  <%= link_to "View", tour, class: "btn btn-white" %>
  <%= link_to "Back", page_list_path, class: "btn btn-white" %>
</div>

