<div id="<%= dom_id account_rating %>">
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Target account</p>
    <%= account_rating.target_account_id %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Source account</p>
    <%= account_rating.source_account_id %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Title</p>
    <%= account_rating.title %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Review</p>
    <%= account_rating.review %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Rating</p>
    <%= account_rating.rating %>
  </div>
</div>
