<div>
  <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
    <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-3/2 rotate-[30deg] bg-gradient-to-tr from-[#ff4694] to-[#9089fc] opacity-50 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
  </div>
  <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-3xl mx-auto text-center pb-8">
      <h2 class="text-3xl font-extrabold text-gray-900"><%= t(".title") %></h2>
      <p class="mt-4 text-lg text-gray-500"><%= t(".title_subhead") %></p>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div class="bg-white rounded-lg shadow-lg p-6">
        <h3 class="text-lg font-medium text-gray-900"><%= t(".what_we_do_heading") %></h3>
        <div class="mt-4">
          <img src=<%= image_path('accent_images/IMG_6206.jpg') %> alt="whatwedo" class="w-full object-cover object-center rounded-lg">
        </div>
        <p class="mt-4 text-gray-500"><%= t(".what_we_do_overview") %></p>
      </div>
      <div class="bg-white rounded-lg shadow-lg p-6">
        <h3 class="text-lg font-medium text-gray-900"><%= t(".our_mission") %></h3>
        <div class="mt-4">
          <img src=<%= image_path('accent_images/IMG_6210.jpg') %> alt="mission" class="w-full object-cover object-center rounded-lg">
        </div>
        <p class="mt-4 text-gray-500"><%= t('.mission_overview') %></p>
      </div>
      <div class="bg-white rounded-lg shadow-lg p-6">
        <h3 class="text-lg font-medium text-gray-900"><%= t(".for_travelers") %></h3>
        <div class="mt-4">
          <img src=<%= image_path('accent_images/IMG_6212.jpg') %> alt="traveler" class="w-full object-cover object-center rounded-lg">
        </div>
        <p class="mt-4 text-gray-500"><%= t('.for_travelers_overview') %></p>
      </div>
      <div class="bg-white rounded-lg shadow-lg p-6">
        <h3 class="text-lg font-medium text-gray-900"><%= t(".for_companies_and_agencies") %></h3>
        <div class="mt-4">
          <img src=<%= image_path('accent_images/IMG_6213.jpg') %> alt="c&a" class="w-full object-cover object-center rounded-lg">
        </div>
        <p class="mt-4 text-gray-500"><%= t('.for_companies_and_agencies_overview') %></p>
      </div>
      <div class="bg-white rounded-lg shadow-lg p-6">
        <h3 class="text-lg font-medium text-gray-900"><%= t(".for_locals") %></h3>
        <div class="mt-4">
          <img src=<%= image_path('accent_images/IMG_6208.jpg') %> alt="local" class="w-full object-cover object-center rounded-lg">
        </div>
        <p class="mt-4 text-gray-500"><%= t('.for_locals_overview') %></p>
      </div>
    </div>
  </div>
</div>
