<%= form_with(model: scheduled_tour) do |form| %>
  <%= render "shared/error_messages", resource: form.object %>

  <div class="form-group">
    <%= form.label :scheduled_date %>
    <%= form.date_field :scheduled_date, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :scheduled_time %>
    <%= form.time_field :scheduled_time, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :location, "Where can you meet your guide?" %>
    <%= form.text_field :location, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label "Tour Price" %>
    <%= format("$%.2f", @scheduled_tour.tour.price) %>
  </div>

  <%= hidden_field_tag :tour_id, params[:tour_id] %>
  <%= hidden_field_tag :account_user_id, current_account_user.id %>

  <div>
    <%= form.button button_text("Checkout Now"), data: { turbo: false }, class: "btn btn-primary" %>

    <% if form.object.new_record? %>
      <%= link_to t("cancel"), page_list_path, class: "btn btn-white" %>
    <% else %>
      <%= link_to t("cancel"), scheduled_tour_path(@scheduled_tour), class: "btn btn-white" %>
    <% end %>
  </div>
<% end %>
