<%= form_with(model: scheduled_tour) do |form| %>
  <%= render "shared/error_messages", resource: form.object %>

  <div class="form-group">
    <%= form.label "Scheduled Date" %>
    <%= form.date_field :scheduled_date, min: Date.today, max: Date.today + 6.months, required: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label "Scheduled Time (Tours only available to begin between 9AM - 5PM)" %>
    <%= form.time_field :scheduled_time, value: "%H:%M", min: '09:00', max: '17:00', required: true, class: "form-control"  %>
  </div>

  <div class="form-group" data-controller="places-autocomplete">
    <%= form.label :location, "Where can you meet your guide?" %>
    <%= form.search_field :location, class: "form-control", data: { target: "places-autocomplete.field" } %>
  </div>

  <div class="form-group">
    <%= form.label "Tour Price" %>
    <%= format("$%.2f", @scheduled_tour.tour.price) %>
  </div>

  <%= hidden_field_tag :tour_id, params[:tour_id] %>
  <%= hidden_field_tag :account_user_id, current_account_user.id %>

  <div>
    <%= form.button button_text("Checkout"), data: { turbo: false }, class: "btn btn-primary" %>

    <% if form.object.new_record? %>
      <%= link_to t("cancel"), page_list_path, class: "btn btn-white" %>
    <% else %>
      <%= link_to t("cancel"), scheduled_tour_path(@scheduled_tour), class: "btn btn-white" %>
    <% end %>
  </div>
<% end %>
