<div id="<%= dom_id scheduled_tour %>">
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Scheduled date</p>
    <%= scheduled_tour.scheduled_date %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Scheduled time</p>
    <%= scheduled_tour.scheduled_time %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Location</p>
    <%= scheduled_tour.location %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">What tour are you taking?</p>
    <%= link_to scheduled_tour.tour.title, scheduled_tour.tour %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Who will be your personal guide?</p>
    <%= scheduled_tour.account_user ? scheduled_tour.account_user.user.name : "Pending assignment" %>
  </div>
</div>
