<div id="<%= dom_id scheduled_tour %>">
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Scheduled date</p>
    <%= scheduled_tour.scheduled_date %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Scheduled time</p>
    <%= scheduled_tour.scheduled_time %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Location</p>
    <%= scheduled_tour.location %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Tour</p>
    <%= scheduled_tour.tour_id %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Account user</p>
    <%= scheduled_tour.account_user_id %>
  </div>
</div>
