<%= content_for :title, "Scheduled Tours" %>
<%= turbo_stream_from :scheduled_tours %>

<div class="p-8 bg-white rounded shadow">
  <div class="px-4 sm:px-6 lg:px-8">
    <div class="sm:flex sm:items-center">
      <div class="sm:flex-auto">
        <h1 class="text-base font-semibold leading-6 text-gray-900">Scheduled Tours</h1>
        <p class="mt-2 text-sm text-gray-700">A list of the tours you signed up for.</p>
      </div>
    </div>
    <div class="mt-8 flow-root">
      <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
          <table class="min-w-full divide-y divide-gray-300">
            <thead>
            <tr>
              <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm sm:pl-0"><%= sortable @scheduled_tours, :scheduled_date, "Scheduled date", class:"font-semibold text-gray-900"%></th>
              <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm sm:pl-0"><%= sortable @scheduled_tours, :scheduled_time, "Scheduled time", class:"font-semibold text-gray-900"%></th>
              <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900"><%= sortable @scheduled_tours, :location, "Location", class: "font-semibold text-gray-900" %></th>
              <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900"><%= sortable @scheduled_tours, :tour_id, "Tour", class: "font-semibold text-gray-900" %></th>
              <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900"><%= sortable @scheduled_tours, :account_user_id, "Account user", class: "font-semibold text-gray-900" %></th>
              <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-0">
                <span class="sr-only">Show</span>
              </th>
            </tr>
            </thead>

            <tbody class="divide-y divide-gray-200">
              <%= tag.div id: ("scheduled_tours" if first_page?) do %>
                <%= render partial: "scheduled_tours/index", collection: @scheduled_tours, as: :scheduled_tour, cached: true %>
              <% end %>
            </tbody>
          </table>
            <% if @pagy.pages > 1 %>
                <div class="my-6 text-center">
                  <%== pagy_nav(@pagy) %>
                </div>
              <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
