<!DOCTYPE html>
<html class="h-full antialiased" lang="<%= I18n.locale %>">
  <head>
    <title>
      <% if content_for?(:title) %>
        <%= yield :title %> |
      <% end %>
      <%= Jumpstart.config.application_name %>
    </title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= viewport_meta_tag %>

    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials.google.maps_key}&libraries=places&callback=dispatchMapsEvent",
                               async: true,
                               defer: true,
                               "data-turbolinks-eval": false
    %>
    <script type="text/javascript" src="http://classic.avantlink.com/affiliate_app_confirm.php?mode=js&authResponse=5698516880895d0711efe84078e29ae7069d76ef"></script>
    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>

    <%# Be sure to add your own custom favicons %>
    <%= render "shared/favicons" %>
    <%= render "shared/payments_dependencies" %>

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-T0GLNCRC2J"></script>
    <%# Replace this with your FontAwesome Pro Kit code %>
    <script defer src="https://kit.fontawesome.com/0e5ab6a736.js" crossorigin="anonymous"></script>
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">

    <%= yield :head %>
  </head>

  <body class="h-full font-sans antialiased font-normal leading-normal bg-gray-50">
    <div class="main flex flex-col">
      <header>
        <%= turbo_stream.prepend :flash, partial: "shared/flash" %>
        <turbo-frame id="flash">
          <%= render 'shared/flash' %>
        </turbo-frame>
        <%#= render partial: "shared/flash" %>
        <%= render partial: "shared/navbar" %>
      </header>

      <main class="h-full">
        <%= yield %>
      </main>
    </div>

    <%= render partial: "shared/footer" unless turbo_native_app? %>

    <ninja-keys data-controller="command-palette" hideBreadcrumbs></ninja-keys>
  </body>
</html>
